body{
    background-color: rgba(188, 196, 190, 0.267);
    overflow: none;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}
header{
    background: url(./ai-7977960_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: white;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 30%;
    
    
    }
}

.container{
   
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    #form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        input{
            overflow-wrap: break-word;
            font-size: 18px;
            color: gray;
            width: 78%;
            height: 60px;
            border: none;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
        }
        input:focus{
            outline: none;
            color: gray;
        }

        button{
            min-width: 18%;
            min-height: 60px;
            background-color:rgba(3, 189, 3, 0.801);
            color: white;
            border: none;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
            transition: 0.3s;
            font-size: 20px;
        }
       
        input,button{
            border-radius: 10px;
            padding: 10px;
        }
    }

     #submit:hover{
            background-color:rgba(6, 126, 6, 0.801);
            cursor: pointer;
        }


    div{
        position: relative;
        width: 98%;
        min-height: 100px;
        background-color: white;
        padding-left: 5px;
        padding-bottom: 15px;
        padding-top: 5px;
        margin-top: 15px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        color: rgb(48, 42, 42);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        p{
            width: 100%;
        }
        input{
            height: 30px;
            width: 30px;
        }
        button{
            border-radius: 5px;
            background-color:rgba(3, 189, 3, 0.801);
            color: white;
            border: none;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
            transition: 0.3s;
            width: 100px;
            height: 30px;
            flex-shrink: 10;
            margin-right: 1rem;
            
        }

        .remove{
             background-color:rgba(255, 53, 53, 0.801);
        }
        .remove:hover{
           background-color:rgba(231, 5, 5, 0.801);
    }
}
}

.confirm-removal{
    position: absolute;
    z-index: 1;
    bottom: 30%;
    width: 60%;
    margin-left: 20%;
    background-color: white;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    p{
        width: 100%;
    }
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
    button{
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.651);
        flex-shrink: 1;
    }
    .confirm{
       
         width: 100px;
            height: 30px;
            background-color:rgba(231, 5, 5, 0.801);
            
    }
  
    .cancel{
       
         width: 100px;
            height: 30px;
             background-color:rgba(5, 77, 231, 0.801);
    }
}

.confirm:hover{
    background-color:rgba(231, 5, 5, 0.801); 
}
.cancel:hover{
     background-color:rgba(5, 77, 231, 0.801);
}
button{
    cursor: pointer;
}

.update{
    display: flex;
    justify-content: center;
    align-items:center ;
}

@media (max-width:500px) {
    header{
        height: 400px;
        main{
            font-size: 1rem;
        }
    }

    .container{
       
        margin-top: 1rem;
        width: 100%;
        #form{
            width: 100%;
            
            input{
                width: 60%;
                height: 1.5rem;
                font-size: 15px;
                
            }
            button{
                
                padding: 0;
                font-size: 15px;
                width: 20%;
                min-height: 30px;
            }
        }

        div{
            min-height: 10px;
            p{
            width: 100%;
        }
        input{
            height: 15px;
            width: 15px;
        }
        button{
            width: 80px;
            height: 20px;   
            
        }
        }


        .confirm-removal{
    
    width: 80%;
    min-height: 180px;
     margin-left: 10%;
    text-align: center;
    gap: 10px;
    p{
        width: 100%;
    }
   
    button{
        margin-bottom: 10px;
    }
    .confirm{
       
         width: 70px;
            height: 20px;
    }
  
    .cancel{
       
         width: 70px;
            height: 20px;
            
    }
}
    }
}

@media (min-width:501px) and (max-width:599px) {
    body{
       
        .container{
            width: 100%;
            #form{
                width: 100%;
                input{
                    width: 70%;
                    height: 1.5rem;
                    font-size: 15p
                }
                button{
                padding: 0;
                font-size: 15px;
                width: 20%;
                min-height: 30px;
            }
            }
        }
    }
}

@media ((min-width:600px) and (max-width:1055px)) {
    body{
    
        .container{
            #form{
                input{
                    width: 70%;
                    height: 1.5rem;
                    font-size: 15px;
                }
                button{
                padding: 0;
                font-size: 15px;
                width: 20%;
                min-height: 30px;
            }
            }
        }
    }
}